* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.09) 0%,
    rgba(255, 255, 255, 0.1) 51.55%,
    rgba(255, 255, 255, 0.15) 100%
  );

  box-shadow: 0px 32px 12px -29px rgba(0, 0, 0, 0.44);

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1146px;
  height: 85px;
  top: 30px;
  border-radius: 15px;
  position: absolute;
}

header img {
  width: 144px;
  height: 68px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  list-style: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.menu-ul a {
  text-decoration: none;
  color: #fff;
}

.menu-ul button {
  background-color: #f89b11;
  font-size: 19px;
  color: #fff;
  outline: none;
  border: none;
  width: 255px;
  height: 51px;
  border-radius: 14px;
  cursor: pointer;
}

.menu-ul button a {
  text-decoration: none;
}

.whatsapp:hover {
  animation: scaleButton 0.9s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}

.img img {
  width: 570px;
  height: 290px;
}

.nuvem {
  width: 903px;
  height: 475px;
}

.conteudo {
  margin-top: 100px;
}

#hero .conteudo .texto {
  display: flex;
  flex-direction: column;
  width: 616px;
}

#hero .conteudo .texto h1 {
  font-size: 38px;
  margin-bottom: 30px;
  margin-right: 30px;
  text-align: left;
  color: white;
}

#hero .conteudo .texto p {
  font-size: 23px;
  opacity: 0.8;
  color: #d0d0d0;
  font-size: 15px;
  line-height: 1.4;
}

.texto button:hover {
  animation: scaleButton 0.7s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}

#hero .conteudo .texto button {
  margin-top: 33px;
  width: 189px;
  height: 51px;
  background-color: #fff;
  font-size: 20px;
  color: #1545b3;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
}

.beneficios {
  background-color: #f5f5f5;
}

section#hero {
  background-image: url("assets/Background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

#hero .conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 118px;
  gap: 43px;
  max-width: 100%;
  padding-bottom: 136px;
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .conteudo {
  width: 1350px;
  padding: 30px;
  max-width: 100%;
}

body,
html {
  width: 100%;
  max-width: 100%;
}

#solucoes .conteudo {
  padding-top: 70px;
}

#hero .conteudo .texto button a {
  text-decoration: none;
  color: black;
}

#solucoes h1 {
  text-align: center;
  font-size: 40px;
  color: #282828;
}

.container-beneficios {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.container-items {
  background-color: #fff;
  text-align: center;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #696969;
}

.container-items:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}

.container-items i {
  font-size: 39px;
  font-weight: 400;
}

section.sistemas {
  background: radial-gradient(
    194.75% 33.98% at 50.02% 110.1%,
    #1545b3 0%,
    #002781 100%
  );
  color: #fff;
}

.container-sistemas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-sistemas h1 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 70px;
}

.sistemas {
  padding: 30px;
}

.items {
  display: flex;
  /* width: 100%; */
  gap: 55px;
  align-items: center;
  justify-content: center;
}

button.button-orçamento {
  margin-top: 33px;
  width: 250px;
  background-color: #fff;
  font-size: 20px;
  color: #1545b3;
  outline: none;
  border: none;
  padding: 14px;
  border-radius: 50px;
  cursor: pointer;
}

.wrap-img img {
  width: 84%;
  max-width: 100%;
}

.wrap p {
  max-width: 788px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 20px;
  font-weight: 100;
  color: #d0d0d0;
}

.button-orçamento:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}
