* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.1) 51.55%,
      rgba(255, 255, 255, 0.15) 100%);
  box-shadow: 0px 32px 12px -29px rgba(0, 0, 0, 0.44);
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* max-width: 1350px; */
  height: 85px;
  width: 100%;
  max-width: 1150px;
  top: 20px;
  border-radius: 15px;
  position: absolute;
}

header img {
  width: 144px;
  height: 68px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  list-style: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.menu-ul a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}


.menu-ul a:not(.falar-com-atendente):hover {
  padding: 10px;
  border-radius: 8px;
  background: rgb(217 217 217 / 39%);
}


.falar-com-atendente {
  background-color: rgba(77, 198, 34, 1);
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
}

a.whatsapp.falar-com-atendente {
  padding: 15px;
}

.falar-com-atendente:hover {

  background-color: #f89b11;
  transition: .2s ease;
}

.img img {
  width: 498px;
  height: 246px;
}

.nuvem {
  width: 903px;
  height: 475px;
}

.conteudo {
  margin-top: 100px;
}

#hero .conteudo .texto {
  display: flex;
  flex-direction: column;
  width: 616px;
}

#hero .conteudo .texto h1 {
  font-size: 38px;
  margin-bottom: 30px;
  text-align: left;
  color: white;
}

#hero .conteudo .texto p {
  font-size: 23px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.4;
}



#saiba-mais {
  margin-top: 33px;
  width: 189px;
  height: 51px;
  background-color: transparent;
  font-size: 20px;
  color: white;
  outline: none;
  border: 2px solid #608fffa1;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#saiba-mais:hover {
  background-color: #fff;
  color: #0A42A5;
  border: none;
  transition: .2s ease;
}


.beneficios {
  background-color: #f0f0f0;
}

section#hero {
  background-image: url("assets/Background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

#hero .conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 43px;
  max-width: 100%;
  background-size: cover;
  padding: 90px 10px 80px 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .conteudo {
  width: 1350px;
  /* padding: 30px; */
  max-width: 100%;
}

body,
html {
  width: 100%;
  max-width: 100%;
}




#solucoes h1 {
  text-align: center;
  font-size: 40px;
  color: #007bff;
  padding-bottom: 70px;
}

.container-beneficios {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.container-items {
  background-color: #fff;
  color: #696969;
  text-align: center;
  width: 221px;
  height: 179px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 22px 12.4px -20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  animation-timing-function: ease;
}

.container-items img {
  width: 35%;
}

.container-items:hover {
  transform: translateY(-7px) scale(1.05);
  /* color: white; */
  transition: 0.2s ease;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}

.container-items i {
  font-size: 30px;
  font-weight: 400;
  background-color: #EFEFEF;
  height: 58px;
  border-radius: 227px;
  width: 58px;
  align-items: center;
  display: flex;
  justify-content: center;
}



section.sistemas {
  background-image: url(assets/computador.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  /* background: radial-gradient(277.74% 76.5% at 67% 56.79%, #2C7AFE 0%, #00348C 100%);
  color: #fff; */
}

.container-sistemas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.container-sistemas h1 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 100px;
  background: rgb(0 0 0 / 34%);
  color: white;
  padding: 15px;
  border-radius: 3px;
}


.items {
  display: flex;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
  background: rgb(0 0 0 / 34%);
  /* background: rgba(217, 217, 217, 0.08); */
  transition: .1s;
  padding: 20px;
}

button.button-orçamento {
  margin-top: 33px;
  width: 250px;
  background-color: #fff;
  font-size: 20px;
  color: #1545b3;
  outline: none;
  border: none;
  padding: 14px;
  border-radius: 50px;
  cursor: pointer;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap-img img {
  width: 84%;
  max-width: 100%;
  bottom: 0px;
}

.wrap p {
  max-width: 788px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
  padding: 17px;
}

/* 
.wrap p:hover {
  background-color: #007bff;
  border-radius: 8px;
} */

.button-orçamento:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}


.clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.clientes h2 {
  color: #007bff;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  /* padding: 10px; */
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  display: flex;
  transition: 2s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.slide img {
  width: 395px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #007aff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #007aff;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: #007aff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: #007aff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: #007aff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: #007aff;
}

.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 24px;
  z-index: 99;
}

.botao-subir {
  position: fixed;
  bottom: 100px;
  right: 38px;
  z-index: 99;
  color: #8a9096;
}

.botao-subir:active {
  color: blue;

}

.fa-caret-up:before {
  content: "\f0d8";
  font-size: 60px;
}

.btn-whatsapp img {
  max-width: 60px;
  transition: transform 0.4s;
}

.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.depoimentos {
  background: #F0F0F0;
}

footer {
  background-color: #195CCD;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.fa-instagram:before {
  content: "\f16d";
  font-size: 29px;
}

.rede-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rede-logo img {
  width: 175px;
}

.atendimento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.atendimento p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}


.container-atendimento {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 14px;
}

.endereco {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
}

.endereco a {
  color: #fff;
  outline: none;
  text-decoration: none;
}

.direitos {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 29px; */
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  background-color: #0013a03d;
  padding: 15px;
}

.rede-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 10px;
  font-size: 14px;
}

.horario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
}

.horario a {
  color: #fff;
  outline: none;
  text-decoration: none;
}

.fa-instagram:before {
  content: "\f16d";
  color: #fff;
}

.slider-depoimentos {
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slides-depoimentos {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-depoimentos {
  min-width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  border-radius: 3px;
  padding: 30px;
}

.bloco-img img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid black;
}

.bloco-depoimento {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-left: 15px; */
}

.bloco-depoimento span {
  color: #949494;
}

.bloco-depoimento p {
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  color: #5f5f5f;
}

#papel {
  color: #6610f2;
}

.slider-clientes {
  width: 700px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slides-clientes {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-clientes {
  min-width: 100%;
}

.bloco-img img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
}

.bloco-cliente {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 15px;
}

.bloco-cliente span {
  color: #949494;
}

.bloco-cliente p {
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

#papel {
  color: #6610f2;
}



.bloco-img {
  margin-right: 30px;
}

#menu-mobile {
  display: none;
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  position: absolute;
  left: 0px;
  top: 106px;
  background-color: #00008b;
  width: 100%;
  padding: 30px 20px;
  justify-content: center;
  z-index: 1000000;
  outline: none;
  text-decoration: none;
}

.menu-lateral a {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border-bottom: 1px solid white;
  width: 100%;
  display: flex;
  padding-bottom: 5px;
  justify-content: flex-start;
  padding-left: 8px;
  outline: none;
  text-decoration: none;
}

a#falar-atendente {
  background-color: rgba(77, 198, 34, 1);
  padding: 14px;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  margin-top: 10px;
}




/* @media screen and(max-width:900px) {
  .menu {
    display: none;
  }
} */




@media screen and (max-width:768px) {


  #menu-mobile {
    display: block;

  }

  button.bloco-mobile {
    background-color: transparent;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }

  header {
    width: 90%;
  }

  .menu {
    display: none;
  }

  #hero .conteudo {
    flex-direction: column;
  }

  .slider-depoimentos {
    width: 80%;
  }

  .slide-depoimentos {
    flex-direction: column;
  }

  .bloco-depoimento h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }

  .bloco-depoimento span {
    font-size: 12px;
  }

  .bloco-depoimento p {
    font-size: 12px;

  }

  #hero .conteudo .texto {
    width: 100%;
  }

  #hero .conteudo .texto h1 {
    font-size: 22px;
    margin-right: 0;
  }

  #hero .conteudo .texto p {
    font-size: 12px;
  }

  #hero .conteudo .texto button {
    width: 154px;
    height: 41px;
    padding: 0px;
  }

  #hero .conteudo .texto button a {
    color: #757575;
    font-size: 16px;
    font-weight: bold;
  }


  .img img {
    width: 100%;
    height: auto;
  }


  #solucoes .conteudo {
    padding-top: 0;
  }

  #solucoes h1 {
    font-size: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .container-beneficios {
    gap: 20px;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .container-items {
    width: 130px;
    height: 133px;
  }

  .container-items i {
    font-size: 17px;
    width: 40px;
    height: 40px;
  }

  .container-items p {
    font-size: 13px;
  }

  .clientes h2 {
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0 30px;
  }


  .container-footer {
    gap: 10px;
    padding: 10px;
    flex-direction: column;
  }

  .atendimento {
    flex-direction: column;

  }

  .container-atendimento {
    flex-direction: column;
    font-size: 13px;
    gap: 10px;
  }

  .horario {
    align-items: center;
    background: rgb(168 168 168 / 44%);
    padding: 8px;
    border-radius: 13px;
  }

  .endereco {
    align-items: center;
    background: rgb(168 168 168 / 44%);
    padding: 8px;
    border-radius: 13px;
  }

  .container-sistemas h1 {
    font-size: 30px;
    margin-bottom: 70px;
  }

  .container-sistemas {
    margin-bottom: 70px;
  }

  .items {
    margin: 30px;
  }

  .wrap p {
    font-size: 15px;
    padding: 9px
  }

  .direitos {
    text-align: center;
    font-size: 11px;
  }

  #hero .conteudo {
    padding: 70px 30px 70px 30px;
  }

  #saiba-mais {
    width: 150px;
    height: 45px;
    font-size: 17px;
  }

  .btn-whatsapp img {
    max-width: 45px;
  }

  .botao-subir {
    bottom: 64px;
    right: 28px;
  }

  .conteudo {
    margin-top: 70px;
  }

  .clientes {
    margin-bottom: 70px;
  }

  .rede-social {
    font-size: 13px;

  }

  .rede-social a i {
    font-size: 20px !important;
  }

  .slide-depoimentos {
    padding: 15px;
  }

  .bloco-img {
    margin-right: 0px;
  }

  .slider-clientes {
    width: 100%;
  }

  .slides-clientes {
    align-items: center;
    height: auto;
  }

  .bloco-cliente {
    margin-left: 0px !important;
    padding: 0px 30px !important;
  }

  #pedradosvolantes {
    width: 323px !important;
    margin-left: 5px !important;
  }

  #manga {
    width: 215px !important;
  }

  #nanuque {
    width: 250px !important;
    margin-left: 0px !important;
  }

  #senadormendes {
    width: 359px !important;
    margin-left: -16px !important;
  }

  #saogeraldodobaxio {
    width: 328px !important;
    margin-left: -11px !important;
  }

  #alvoradademinas {
    width: 257px !important;
    margin-left: -10px !important;
  }

  #galileia {
    width: 203px !important;
    margin-left: 17px !important;
  }

  #novabelem {
    width: 268px !important;
    margin-left: 17px !important;
  }

  #itaobim {
    width: 211px !important;
    margin-left: 16px !important;
  }

  #centraldeminas {
    width: 282px !important;
    margin-left: -2px !important;
  }

  #conselheiropena {
    width: 336px !important;
    margin-left: -9px !important;
  }

  #freiinocencio {
    width: 298px !important;
    margin-left: -7px !important;
  }
}